@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My first application to Azure Kubernetes Service</p>
    <br />
    <p>This is my first JIRA task</p>
</div>